.calc-td__main {
    width: 100%;
    border: 1px solid #0C87D3;
    padding: 10px;
    margin: 5px 0;
}

.calc-td__row {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calc-td__text {
    font: italic 15px "Ubuntu", Helvetica, Arial, sans-serif;
    margin: 10px 0;
}

@media all and (max-width: 768px) {
    .calc-td__text, .calc-td__value {
        width: 100%;
    }
}

.calc-td__value {
    display: flex;
}

.calc-td__sub-row {
    margin-left: 5px;
}

.calc_answer {
    width: 100%;
    padding: 10px;
    border: 2px dotted darkred;
    background: #FFFFFF;
}

.calc_answer p {
    margin: 0 0 0 5px;
}

.calc_answer h4 {
    margin: 5px 0;
}

.calc_answer h3 {
    margin: 10px 0;
}

.input_error {
    box-shadow: 0 0 2px 1px red;
}

.text_error {
    font-size: 12px;
    color: red;
    width: 100%;
    text-align: right;
}

.textarea_width_100 {
    width: calc(100% - 20px);
}

.wrap_word {
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}

label {
    cursor: pointer;
}

.calc_run_button {
    background-color: #ff7200;
    font-size: 20px;
    padding: 12px;
    border-radius: 3px;
}

.calc_run_button:hover {
    background-color: #27dd63;
}

select {
    min-width: 100px;
}

.font-size_10px {
    font-size: 10px !important;
}

.font-size_12px {
    font-size: 12px !important;
}

body, .post, .td-main-content-wrap {
    background-color: #f5f5f5;
}

.td-post-sharing-bottom {
    border-color: #000;
}

/* Show hint */
#hintbox { /*CSS for pop up hint box */
    position: absolute;
    top: 0;
    background-color: lightyellow;
    width: 150px; /*Default width of hint.*/
    padding: 3px;
    border: 1px solid black;
    font: normal 11px Verdana;
    line-height: 18px;
    z-index: 100;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    visibility: hidden;
}

.hintanchor { /*CSS for link that shows hint onmouseover*/
    font-weight: bold;
    color: navy;
    margin: 3px 8px;
}

[class*=hint--] {
    width: 100%;
    height: 45px;
    line-height: 45px;
}

/* Show hint */

.error:before {
    content: '!!!';
    font-size: 40px;
    font-weght: bold;
    color: red;
    margin: 0 10px;
    float: left;
}